@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  background-color: #ccc;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: auto;
}

$work-color: #fba0a0;
$wait-color: #4cb8af;
$busy-color: #808080;

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .indicator {
    padding: 32px;
    .time {
      font-size: 72px;
      text-align: center;
    }
    .phase {
      text-align: center;
    }
  }
  .indicator.work {
    color: $work-color;
  }
  .indicator.rest {
    color: $wait-color;
  }
  .indicator.stop {
    color: $busy-color;
  }
  button {
    padding: 32px;
    cursor: pointer;
  }
  button.work-button {
    background-color: $work-color;
    border: 1px solid $work-color;
    color: #fff;
  }
  button.rest-button {
    background-color: $wait-color;
    border: 1px solid $wait-color;
    color: #fff;
  }
  button.stop-button {
    background-color: $busy-color;
    border: 1px solid $busy-color;
    color: #fff;
  }
  button.active {
    border: 1px dotted #333;
  }
}
